$header-bg: #ff2b2b
$header-font: 'Bungee', cursive

.header
  background-color: $header-bg
  color: #fff
  font-family: $header-font
  padding: 1rem
  text-align: center
  font-size: 2rem

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
