$header-bg: #ff2b2b
$header-font: 'Bungee', cursive

.header
  background-color: $header-bg
  color: #fff
  text-align: center
  font-size: 2rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: auto
  padding: 0.5rem
  max-width: 80%
  border-radius: 5px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

h1
  font-family: $header-font
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)

h2
    font-family: 'Orbitron', sans-serif
    margin-top: 0
    font-size: 1rem 
    font-weight: normal
    text-transform: uppercase
    letter-spacing: 3px 
    color: #ff2b2b 
    background-color: #fff 
    display: inline-block 
    padding: 0.5rem 1rem
    border-radius: 5px
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
    