.quote-display
  max-width: 60%
  margin: 0 auto
  margin-top: 2rem
  margin-bottom: 5rem
  padding: 1rem
  background-color: #f4f4f4
  border-left: 10px solid #4f4f9c
  border-radius: 25px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  font-family: 'Open Sans', sans-serif
  font-size: 1.25rem
  color: #333
  transition: all 0.3s ease

p
  font-family: 'Open Sans', sans-serif
  font-size: 0.9rem
  font-weight: 500
  line-height: 1.5rem
  color: #333
  transition: all 0.3s ease