.quote-display
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  max-width: 490px
  min-width: 250px
  margin: 1rem auto
  margin-top: 2rem
  padding: 0.5rem 1rem
  background-color: #f4f4f4
  border-left: 10px solid #7b71d2
  border-radius: 25px
  box-shadow: 2px 2px 4px rgba(207, 207, 207, 0.5)
  box-sizing: border-box
  @media screen and (max-width: 768px)
    padding: 0.75rem
    margin-top: 1rem

p
  font-family: 'DM Mono', monospace
  font-size: 1rem
  font-weight: 500
  line-height: 2rem
  color: #333
  transition: all 0.3s ease
  @media screen and (max-width: 768px)
    font-size: 0.8rem
    line-height: 1.2rem