.quotes display
  max-width: 80%
    
p
  font-family: 'Open Sans', sans-serif
  font-size: 1rem
  color: #333
  background-color: #f4f4f4
  border-left: 5px solid #4f49fc
  padding: 1rem
  border-radius: 5px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  transition: all 0.3s ease