$button-bg: #7c72f071
$button-hover-bg: #c53a3a
$button-active-bg: #c53a3a
$button-padding: 5px 10px
$button-border-radius: 30px

.mood-button
  background-color: $button-bg
  color: #dcdcdc
  font-family: 'Open Sans', sans-serif
  font-weight: 700
  font-size: 1rem
  padding: $button-padding
  border-radius: $button-border-radius
  border: solid #7b71d2
  cursor: pointer
  transition: background-color 0.3s

  &:hover
    background-color: $button-hover-bg
    scale: 1.1
    transition: 0.5 ease

  &:active
    background-color: darken($button-bg, 50%) !important
    color: #f7f7f7
    font-weight: bold