$selector-padding: 10px
$selector-bg: #212121
$selector-border-radius: 5px

.mood-selector
  background-color: $selector-bg
  padding: $selector-padding
  border-radius: $selector-border-radius
  display: flex
  justify-content: center
  margin: 0 auto
  flex-wrap: wrap
  gap: 25px
  max-width: 80%

